.cutie {
    color: red;
  }
  
  .bet {
    color: blue;
  }
  
  .Garrett {
    background: linear-gradient(90deg, #ff00ff, #00aaaa, red, orange, #ffffbb);
    -webkit-background-clip: text;
    color: transparent;
}