
.Garrett {
  background: linear-gradient(90deg, #ff00ff, #00aaaa, red, orange, #ffffbb);
  -webkit-background-clip: text;
  color: transparent;
  text-align: left; /* Ensure text aligns to the left */
  align-self: center; /* Center the ASCII art within the container */
}
