.navbar {
  width: 33%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  outline: none; /* Remove the default focus outline */
}

.navbar-container {
  align-self: center;
}

.navbar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2vw;
  margin-bottom: 10px;
  padding-left: 3vw;
  font-weight: bold;
}

.arrow {
  position: absolute; /* Remove from layout flow */
  left: -25px; /* Fixed left position */
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  pointer-events: none; /* Prevent arrow interaction */
  transition: top 0.2s ease; /* Smooth transition */
}
